<div id="<%= dom_id participation %>">
  <p>
    <strong>Stripe customer:</strong>
    <%= participation.stripe_customer_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= participation.user_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= participation.event_id %>
  </p>

</div>
